
/* .list-group .list-group-item button{
  height: 20px;
  justify-content: center; 
   align-items: center;
  align-content: center;
}  */

.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item{
  height: 40px;
  padding-bottom: 1px;
} 

.btn{
  font-size: 15px;
}

body{
  background-image: linear-gradient(to right,#3288bd,#66c2a5);
} 





